<div class="container">
  <div class="header-container">
    <nav><app-navbar></app-navbar></nav>
    <div class="title"><h1>HOLA</h1></div>
  </div>

  <div class="body">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quasi unde
      fuga molestiae debitis sed tempore facere laborum illo dolorum eaque
      necessitatibus eius earum expedita corporis nobis, rerum, voluptatem et.
      Voluptatum quisquam ut explicabo atque quam impedit officiis tempore cum
      illo veritatis sunt beatae minus adipisci fuga, nulla magni dignissimos
      distinctio, ab blanditiis cumque similique, itaque dolorem molestias.
      Cupiditate, molestias. Accusamus eius et nulla sed iste eos impedit quia
      harum laudantium repellendus error laborum quaerat autem quibusdam quam
      nam sapiente facere ipsa inventore pariatur, excepturi maiores modi
      doloribus? Laborum, ea. Itaque corporis magnam eaque! Voluptatem quaerat
      laboriosam harum accusamus ex quo dolores, explicabo id. At, rerum
      quisquam. Assumenda, eius perspiciatis natus, nihil nesciunt, praesentium
      voluptatibus accusamus temporibus asperiores velit omnis. Officiis,
      corporis aut rem blanditiis quidem aperiam voluptate tempora quam harum?
      Blanditiis nostrum in minus asperiores. Cum, ex aut. Fuga iure nemo
      deleniti deserunt eos nobis earum obcaecati asperiores quae. Nam suscipit
      soluta qui error asperiores consequuntur minima accusantium labore
      voluptatibus molestiae nobis quidem, illum sapiente ad aut laboriosam est
      ipsa facilis blanditiis unde voluptas et nostrum deleniti. Doloremque,
      consectetur! Minima, consequuntur nemo. Delectus officia cumque corrupti
      odit itaque ipsum dolorem, autem consequuntur possimus sint doloribus enim
      officiis error deserunt hic debitis cum, beatae illo. Exercitationem
      necessitatibus sunt blanditiis nostrum? Repellat, soluta voluptatum.
      Perferendis mollitia exercitationem perspiciatis facilis reprehenderit
      quasi quidem, expedita inventore quam voluptate minus nostrum eveniet
      pariatur ut! Molestiae officia reiciendis, corrupti repudiandae ut dolor
      voluptatibus quis possimus! Blanditiis itaque perspiciatis ad atque,
      deserunt officia architecto eveniet repudiandae. Reiciendis, obcaecati
      soluta! Laudantium perferendis ipsum in error id placeat? Deserunt
      doloribus maxime dolor aspernatur veritatis aliquid expedita ex cumque.
      Recusandae, id pariatur sunt ab labore perferendis omnis accusantium ea
      excepturi doloribus adipisci distinctio tenetur. Earum fuga quo minus
      ullam, nihil qui provident tenetur dolore quas blanditiis impedit, maiores
      sed.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quasi
      unde fuga molestiae debitis sed tempore facere laborum illo dolorum eaque
      necessitatibus eius earum expedita corporis nobis, rerum, voluptatem et.
      Voluptatum quisquam ut explicabo atque quam impedit officiis tempore cum
      illo veritatis sunt beatae minus adipisci fuga, nulla magni dignissimos
      distinctio, ab blanditiis cumque similique, itaque dolorem molestias.
      Cupiditate, molestias. Accusamus eius et nulla sed iste eos impedit quia
      harum laudantium repellendus error laborum quaerat autem quibusdam quam
      nam sapiente facere ipsa inventore pariatur, excepturi maiores modi
      doloribus? Laborum, ea. Itaque corporis magnam eaque! Voluptatem quaerat
      laboriosam harum accusamus ex quo dolores, explicabo id. At, rerum
      quisquam. Assumenda, eius perspiciatis natus, nihil nesciunt, praesentium
      voluptatibus accusamus temporibus asperiores velit omnis. Officiis,
      corporis aut rem blanditiis quidem aperiam voluptate tempora quam harum?
      Blanditiis nostrum in minus asperiores. Cum, ex aut. Fuga iure nemo
      deleniti deserunt eos nobis earum obcaecati asperiores quae. Nam suscipit
      soluta qui error asperiores consequuntur minima accusantium labore
      voluptatibus molesti
    </p>
  </div>
</div>

<!-- <section class="layout">
  <div class="header"><app-navbar></app-navbar></div>
  <div class="leftSide">2</div>
  <div class="body">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
    repellendus alias nobis nisi quo voluptatem debitis sint odit nesciunt rem
    consectetur beatae vero qui voluptas exercitationem, doloremque officiis
    aperiam autem. Eaque, eum officiis non dolorum doloribus deserunt distinctio
    delectus iste perspiciatis error unde quasi aspernatur eligendi debitis
    laborum qui magnam reiciendis voluptatem repudiandae? Dolores hic quasi
    laborum voluptas, id omnis. Quaerat, facere iure eos voluptatem placeat
    velit suscipit dolores maiores quisquam labore temporibus ullam, dignissimos
    eius sapiente nobis, adipisci possimus obcaecati unde laudantium corporis
    reprehenderit ab aliquid culpa fugiat! Rerum!
  </div>
  <div class="rightSide">4</div>
  <div class="footer">Hola</div>
</section> -->
