.container {
  /* background-color: #212121; */
  background-image: url("../../assets/images/nicolas-ruiz-KofxGY-TJ5s-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 400px;
  font-size: 20px;
  background: transparent;
  backdrop-filter: blur(3px);
  padding: 50px;
}

.body > p {
  color: #000000;
}

/* .layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
  background-color: #212121;
}

.header {
  grid-area: header;
}
.leftSide {
  grid-area: leftSide;
}
.body {
  grid-area: body;
  margin-top: 100px;
}
.rightSide {
  grid-area: rightSide;
}
.footer {
  grid-area: footer;
} */
