<section class="layout">
  <div class="header"><app-navbar></app-navbar></div>
  <div class="main">
    <div class="imgs">
      <div class="first-img">
        <img src="../../assets/images//silas-baisch-Wn4ulyzVoD4-unsplash.jpg" />
      </div>
      <div class="second-img">
        <img src="../../assets/images//silas-baisch-Wn4ulyzVoD4-unsplash.jpg" />
      </div>
      <div class="third-img">
        <img src="../../assets/images//silas-baisch-Wn4ulyzVoD4-unsplash.jpg" />
      </div>
    </div>
    <div class="description">
      <h1>Title</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor beatae,
        delectus saepe quaerat iste ipsum ipsam amet fugiat commodi quasi eaque
        inventore, nihil facere praesentium ab. Deserunt a beatae deleniti.
        Autem at soluta architecto magni non, mollitia expedita tempora. Non
        maiores quae perferendis itaque, minima dignissimos suscipit,
        necessitatibus distinctio rerum deleniti modi animi recusandae quam
        voluptatum accusamus dolore numquam est! Accusantium voluptatem aliquid
        culpa quas magnam autem, saepe molestias ratione nemo laboriosam facere
        corrupti, impedit quaerat possimus. Illo natus possimus accusantium
        illum! Porro repellat est corrupti tempora! Vero, ducimus ab! Distinctio
        quam, beatae a fugit quaerat neque tempora temporibus minus ipsa,
        maiores, facilis voluptatem harum quod consectetur recusandae velit
        cumque eius id reiciendis eos? Inventore quidem dolorem delectus
        excepturi iusto. Illum voluptatum fuga ad libero eius sunt magnam
        impedit dignissimos, quam praesentium rem, quasi beatae hic repellat
        modi, consequatur quibusdam dolore vel corporis minus? Provident
        cupiditate expedita totam suscipit sed. Iste consequatur reprehenderit
        eaque laboriosam atque hic, labore placeat praesentium totam error
        obcaecati vel dignissimos ex assumenda maiores deleniti amet excepturi
        quae nulla adipisci natus cumque earum? Non, velit sed! Commodi, ab
        officia? Omnis consequatur itaque dolor consequuntur? Enim quas alias
        officia officiis. Vero saepe facilis aut maiores nesciunt illum deleniti
        a exercitationem dolorem ipsum, nostrum tenetur quibusdam culpa
        praesentium? Necessitatibus quis, corporis modi excepturi molestias
        vitae aliquid voluptates debitis error labore nulla sequi dolore
        doloribus voluptate ipsum, saepe perspiciatis dolorum pariatur quibusdam
        ullam in, blanditiis iste ex a. Eius!
      </p>
    </div>
  </div>
  <div class="footer">3</div>
</section>
