<section class="layout">
  <div class="header"><app-navbar></app-navbar></div>
  <div class="main">
    <div class="description">
      <h1>MINA CLAVERO</h1>
      <p>
        La siguiente encuesta es parte del relevamiento que estamos
        desarrollando desde la Secretaria de Turismo de la Municipalidad de Mina
        Clavero, que tiene por finalidad conocer cuáles sus preferencias, medios
        por los ha conocido nuestro destino y nivel de satisfacción; Esta
        información será de suma importancia para desarrollar planes
        estratégicos que permitirán hacer de nuestra localidad el mejor lugar
        para sus vacaciones. Cabe aclarar que los datos son confidenciales y
        anónimos.
      </p>
      <a href="http://www.minaclavero.gov.ar/" target="_blank" class="btn-sitio"
        >Sitio oficial</a
      >
      <a href="/encuesta" class="btn-encuesta">Encuesta</a>
      <div class="btn-container"></div>
    </div>
  </div>
</section>
