<div class="container">
  <app-navbar></app-navbar>
  <h2 class="title">Encuestas</h2>
  <div class="encuestas-container">
    <mat-list class="encuestas" *ngFor="let encuesta of encuestasList">
      <mat-list-item class="item">
        <h3>{{ encuesta.id }}</h3>
        <p>Edad: {{ encuesta.edad }}</p>
        <p>Sexo: {{ encuesta.sexo }}</p>
        <p>Procedencia: {{ encuesta.procedencia }}</p>
        <p>{{ encuesta.createdAt }}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
