<div class="container">
  <app-navbar></app-navbar>
  <h2 class="title">Encuestas</h2>
  <div class="encuestas-container">
    <mat-list class="encuestas">
      <mat-list-item class="item">Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 3</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 4</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 5</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 6</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 7</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 8</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">Item 9</mat-list-item>
    </mat-list>
  </div>
</div>
