<div class="container">
  <app-navbar></app-navbar>
  <h2 class="title">Encuestas</h2>
  <div class="encuestas-container">
    <!-- <mat-list class="encuestas" *ngFor="let encuesta of encuestasList">
      <mat-list-item class="item">
        <h3>{{ encuesta.id }}</h3>
        <p>Edad: {{ encuesta.edad }}</p>
        <p>Sexo: {{ encuesta.sexo }}</p>
        <p>Procedencia: {{ encuesta.procedencia }}</p>
        <p>{{ encuesta.createdAt }}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list> -->
    <mat-accordion *ngFor="let encuesta of pageSlice">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ encuesta.id }} </mat-panel-title>
          <mat-panel-description>
            {{ encuesta.edad }} años
          </mat-panel-description>
          <mat-panel-description>
            {{ encuesta.procedencia }}
          </mat-panel-description>
          <mat-panel-description>
            {{ encuesta.createdAt }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <h3>¿Por que eligio Mina Clavero?</h3>
          <p>{{ encuesta.motivoEleccion }}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator
      [length]="this.encuestasList.length"
      [pageSize]="2"
      [pageSizeOptions]="[1, 2, 3]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
