<!-- -------------------------------------------------------- Primero --------------------------------------------------- -->
<div class="general-container">
  <div class="container-for-blur">
    <div class="form-container">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
        <div class="head">
          <span>Sign In</span>
        </div>
        <div class="form-components">
          <input formControlName="email" placeholder="Your email" required />
          <input
            formControlName="password"
            placeholder="Your password"
            type="password"
            required
          />
        </div>
        <button type="submit">Sign in</button>
      </form>
      <div class="form-footer">
        <p>Click para responder el <a href="/inicio">formulario</a></p>
      </div>
    </div>
  </div>
</div>
