<div class="container">
  <nav class="navbar-container">
    <app-navbar></app-navbar>
  </nav>
  <div class="form-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-components">
        <!-- Form -->
        <!-- Edad -->
        <div class="edad">
          <h3>Ingrese su edad</h3>
          <label
            ><input type="number" class="edad-input" formControlName="edad" />
          </label>
        </div>
        <!-- Sexo -->
        <div class="sexo">
          <h3>Indique su sexo</h3>
          <div class="sexo-components">
            <input
              type="radio"
              value="Masculino"
              name="sexo"
              formControlName="sexo"
            />
            <label>Masculino</label>
            <input
              type="radio"
              value="Femenino"
              name="sexo"
              formControlName="sexo"
            />
            <label>Femenino</label>
          </div>
        </div>
        <!-- Procedencia -->
        <div class="procedencia">
          <h3>Procedencia</h3>
          <input type="text" formControlName="procedencia" />
        </div>
        <!-- ¿Con quien vino a Mina Clavero -->
        <div class="acompañamiento">
          <h3>¿Con quien vino a mina clavero?</h3>
          <div class="components">
            <input
              type="radio"
              value="Solo"
              name="acompañante"
              formControlName="acompañamiento"
            />
            <label>Solo</label>
            <input
              type="radio"
              value="Pareja"
              name="acompañante"
              formControlName="acompañamiento"
            />
            <label>Con su pareja</label>
            <input
              type="radio"
              value="Familia"
              name="acompañante"
              formControlName="acompañamiento"
            />
            <label>Con su familia</label>
            <input
              type="radio"
              value="Amigos"
              name="acompañante"
              formControlName="acompañamiento"
            />
            <label>Con amigos</label>
            <input
              type="radio"
              value="Excursion"
              name="acompañante"
              formControlName="acompañamiento"
            />
            <label>En una excursion</label>
            <label>Otros ¿Cuales?</label>
            <input type="text" />
          </div>
        </div>
        <!-- ¿A traves de que medio conocio el destino Mina Clavero? -->
        <div class="medio-conocimiento">
          <h3>
            ¿A traves de que medio conocio el destino Mina Clavero? (Puede
            marcar mas de una opcion.)
          </h3>

          <div class="components">
            <input
              type="radio"
              name="television-conocia"
              value="television"
              formControlName="medioDeConocimiento"
            />
            <label>Televisión</label>
            <input
              type="radio"
              name="web-conocia"
              value="web"
              formControlName="medioDeConocimiento"
            />
            <label>Página Web</label>
            <input
              type="radio"
              name="radio-conocia"
              value="radio"
              formControlName="medioDeConocimiento"
            />
            <label>Radio</label>
            <input
              type="radio"
              name="mediosGraficos-conocia"
              value="mediosGraficos"
              formControlName="medioDeConocimiento"
            />
            <label>Medios Gráficos</label>
            <input
              type="radio"
              name="facebook-conocia"
              value="facebook"
              formControlName="medioDeConocimiento"
            />
            <label>Facebook</label>
            <input
              type="radio"
              name="recomendaciones-conocia"
              value="recomendaciones"
              formControlName="medioDeConocimiento"
            />
            <label>Recomendacion</label>
            <label>Otros ¿Cuales?</label>
            <input type="text" value="" formControlName="medioDeConocimiento" />
          </div>
        </div>
        <!-- ¿Por qué eligió Mina Clavero para pasar sus vacaciones? -->
        <div class="porque-eligio">
          <h3>
            ¿Por qué eligió Mina Clavero para pasar sus vacaciones? (Puede
            marcar más de una opción.)
          </h3>
          <div class="components">
            <input
              type="radio"
              name="conocia"
              value="conocia"
              formControlName="porqueEligio"
            />
            <label>Porque ya conocía y le gustó el lugar </label>
            <input
              type="radio"
              name="recomendaron"
              value="recomendaron"
              formControlName="porqueEligio"
            />
            <label>Porque se lo recomendaron</label>
            <input
              type="radio"
              name="promocion"
              value="promocion"
              formControlName="porqueEligio"
            />
            <label>Porque vio alguna promoción en los medios </label>
            <input
              type="radio"
              name="lugarTranquilo"
              value="lugarTranquilo"
              formControlName="porqueEligio"
            />
            <label>Porque es un lugar tranquilo para la familia </label>
            <input
              type="radio"
              name="paisajes"
              value="paisajes"
              formControlName="porqueEligio"
            />
            <label>Por sus paisajes</label>
            <input
              type="radio"
              name="eventos"
              value="eventos"
              formControlName="porqueEligio"
            />
            <label>Por sus eventos</label>
            <input
              type="radio"
              name="amabilidad"
              value="amabilidad"
              formControlName="porqueEligio"
            />
            <label>Por la amabilidad de los vecinos</label>
            <label>Otros</label>
            <input type="text" name="eleccion" formControlName="porqueEligio" />
          </div>
        </div>
        <!-- reserva -->
        <div class="tiene-reserva">
          <h3>En cuanto a Hospedaje: ¿Ud. llegó a Mina Clavero?</h3>
          <div class="components">
            <input type="radio" formControlName="tieneReserva" name="reserva" />
            <label>Sin reserva</label>
            <input type="radio" formControlName="tieneReserva" name="reserva" />
            <label>Con Reserva</label>
            <label> ¿A través de que medio hizo la reserva?</label>
            <input type="text" formControlName="tieneReserva" />
          </div>
        </div>
        <!-- ¿Qué tipo de Hospedaje ha tomado? -->
        <div class="tipo-hospedaje">
          <h3>¿Qué tipo de Hospedaje ha tomado?</h3>
          <div class="components">
            <input
              type="radio"
              name="Hospedaje"
              value="hotel"
              formControlName="tipoHospedaje"
            />
            <label>Hotel</label>
            <input
              type="radio"
              name="Hospedaje"
              value="cabaña"
              formControlName="tipoHospedaje"
            />
            <label>Cabaña</label>
            <input
              type="radio"
              name="Hospedaje"
              value="hosteria"
              formControlName="tipoHospedaje"
            />
            <label>Hosteria</label>
            <input
              type="radio"
              name="Hospedaje"
              value="camping"
              formControlName="tipoHospedaje"
            />
            <label>Camping</label>
            <input
              type="radio"
              name="Hospedaje"
              value="casaAlquiler"
              formControlName="tipoHospedaje"
            />
            <label>Casa de alquiler</label>
            <label>Otros ¿Cuales?</label>
            <input type="text" />
          </div>
        </div>
        <!-- ¿Cómo es el servicio en el hospedaje que ha contratado? -->
        <div class="calificacion-hospedaje">
          <h3>¿Cómo es el servicio en el hospedaje que ha contratado?</h3>
          <div class="components">
            <input
              type="radio"
              value="Excelente"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
            />
            <label>Excelente</label>
            <input
              type="radio"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
              value="Muy buena"
            />
            <label>Muy Buena</label>
            <input
              type="radio"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
              value="Buena"
            />
            <label>Buena</label>
            <input
              type="radio"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
              value="Regular"
            />
            <label>Regular</label>
            <input
              type="radio"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
              value="Mala"
            />
            <label>Mala</label>
            <input
              type="radio"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
              value="Muy mala"
            />
            <label>Muy Mala</label>
            <input
              type="radio"
              name="Hospedaje-calificacion"
              formControlName="calificacionHospedaje"
              value="Pesima"
            />
            <label>Pesima</label>
          </div>
        </div>
        <!-- ¿Recibió material informativo de la Secretaría de Turismo en el hospedaje donde se alojó? -->
        <div class="material-informativo">
          <h3>
            ¿Recibió material informativo de la Secretaría de Turismo en el
            hospedaje donde se alojó?
          </h3>
          <div class="components">
            <input
              type="radio"
              name="material-informativo"
              formControlName="materialInformativo"
            />
            <label>Si</label>
            <input
              type="radio"
              name="material-informativo"
              formControlName="materialInformativo"
            />
            <label>No</label>
            <label>¿Cual?</label>
            <input
              type="text"
              name="material-informativo"
              formControlName="materialInformativo"
            />
          </div>
        </div>
        <!-- ¿Ud. pidió información en las Oficinas de Turismo de Mina Clavero?  -->
        <div class="solicito-informacion-secretariaTurismo">
          <div>
            <h3>
              ¿Ud. pidió información en las Oficinas de Turismo de Mina Clavero?
            </h3>
            <div>
              <input
                type="radio"
                name="solicito-informacion-secretariaTurismo"
                value="si"
                formControlName="informacionSecretariaTurismo"
              />
              <label>Si</label>
              <input
                type="radio"
                name="solicito-informacion-secretariaTurismo"
                value="no"
                formControlName="informacionSecretariaTurismo"
              />
              <label>No</label>

              <!-- ¿En qué Oficina lo hizo?  -->
              <div>
                <p>¿En qué Oficina lo hizo?</p>
                <div>
                  <input
                    type="radio"
                    name="oficina-informacion"
                    value="rotondaIngeso"
                    formControlName="oficinaInformacion"
                  />
                  <label>Oficina de la Rotonda de Ingreso</label>
                  <input
                    type="radio"
                    name="oficina-informacion"
                    value="plazoletaMerlo"
                    formControlName="oficinaInformacion"
                  />
                  <label>Oficina de Plazoleta Merlo</label>
                  <input
                    type="radio"
                    name="oficina-informacion"
                    value="terminal"
                    formControlName="oficinaInformacion"
                  />
                  <label>Oficina de la Terminal </label>
                </div>
              </div>

              <!-- ¿Qué tipo de Información solicitó en las Oficinas de Turismo de Mina Clavero? -->
              <div>
                <p>
                  ¿Qué tipo de Información solicitó en las Oficinas de Turismo
                  de Mina Clavero? (Puede marcar más de una opción.)
                </p>
                <div>
                  <input
                    type="radio"
                    name="Hospedaje"
                    value="hospedaje"
                    formControlName="tipoInformacion"
                  />
                  <label>Hospedaje</label>
                  <input
                    type="radio"
                    name="Paseos"
                    value="paseos"
                    formControlName="tipoInformacion"
                  />
                  <label>Paseos</label>
                  <input
                    type="radio"
                    name="Eventos"
                    value="eventos"
                    formControlName="tipoInformacion"
                  />
                  <label>Eventos</label>
                  <input
                    type="radio"
                    name="Gastronomía"
                    value="gastronomia"
                    formControlName="tipoInformacion"
                  />
                  <label>Gastronomía</label>
                  <input
                    type="radio"
                    name="Turismo"
                    value="turismo"
                    formControlName="tipoInformacion"
                  />
                  <label>Turismo Aventura</label>
                  <input
                    type="radio"
                    name="Servicios"
                    value="servicios"
                    formControlName="tipoInformacion"
                  />
                  <label>Servicios</label>
                  <input
                    type="radio"
                    name="Rutas"
                    value="rutas"
                    formControlName="tipoInformacion"
                  />
                  <label>Rutas</label>
                  <label>Otros ¿Cuales?</label>
                  <input type="text" formControlName="tipoInformacion" />
                </div>
              </div>
              <!-- ¿A través de que medio solicitó información en las Oficina de
                  Turismo de Mina Clavero? -->
              <div>
                <p>
                  ¿A través de que medio solicitó información en las Oficina de
                  Turismo de Mina Clavero? (Puede marcar más de una opción.)
                </p>
                <div>
                  <input
                    type="radio"
                    name="Personalmente"
                    value="pesonalmente"
                    formControlName="medioInformacionSolicitada"
                  />
                  <label>Personalmente</label>
                  <input
                    type="radio"
                    name="mail"
                    value="mail"
                    formControlName="medioInformacionSolicitada"
                  />
                  <label>Vía mail</label>
                  <input
                    type="radio"
                    name="Facebook"
                    value="facebook"
                    formControlName="medioInformacionSolicitada"
                  />
                  <label>Vía Facebook</label>
                  <input
                    type="radio"
                    name="Telefónica"
                    value="relefono"
                    formControlName="medioInformacionSolicitada"
                  />
                  <label>Vía Telefónica</label>
                  <label>Otros ¿Cual?</label>
                  <input type="text" />
                </div>
              </div>
              <!-- Qué tipo de material se le entregó en la Oficina de Turismo? -->
              <div>
                <p>
                  Qué tipo de material se le entregó en la Oficina de Turismo?
                </p>
                <div>
                  <input
                    type="radio"
                    name="Folleto"
                    value="folleto"
                    formControlName="materialEntregado"
                  />
                  <label>Folleto</label>
                  <input
                    type="radio"
                    name="Revista"
                    value="revista"
                    formControlName="materialEntregado"
                  />
                  <label>Revista</label>
                  <input
                    type="radio"
                    name="Planos"
                    value="planos"
                    formControlName="materialEntregado"
                  />
                  <label>Planos</label>
                  <input
                    type="radio"
                    name="Calcomanías"
                    value="calcomanias"
                    formControlName="materialEntregado"
                  />
                  <label>Calcomanías</label>
                  <input
                    type="radio"
                    name="Guía"
                    value="guiaServicios"
                    formControlName="materialEntregado"
                  />
                  <label>Guía de Servicios</label>
                </div>
              </div>
              <!-- Cómo evalúa el tipo de información brindada por las Oficinas de Turismo de Mina Clavero? -->
              <div>
                <p>
                  Cómo evalúa el tipo de información brindada por las Oficinas
                  de Turismo de Mina Clavero?
                </p>
                <div>
                  <input
                    type="radio"
                    name="Excelente"
                    value="excelente"
                    formControlName="calificacionInformacion"
                  />
                  <label>Excelente</label>
                  <input
                    type="radio"
                    name="MuyBuena"
                    value="muyBuena"
                    formControlName="calificacionInformacion"
                  />
                  <label>Muy Buena</label>
                  <input
                    type="radio"
                    name="Buena"
                    value="buena"
                    formControlName="calificacionInformacion"
                  />
                  <label>Buena</label>
                  <input
                    type="radio"
                    name="Regular"
                    value="regular"
                    formControlName="calificacionInformacion"
                  />
                  <label>Regular</label>
                  <input
                    type="radio"
                    name="Mala"
                    value="mala"
                    formControlName="calificacionInformacion"
                  />
                  <label>Mala</label>
                  <input
                    type="radio"
                    name="MuyMala"
                    value="muyMala"
                    formControlName="calificacionInformacion"
                  />
                  <label>Muy Mala</label>
                  <input
                    type="radio"
                    name="Pésima"
                    value="pesima"
                    formControlName="calificacionInformacion"
                  />
                  <label>Pésima</label>
                </div>
              </div>
              <!-- ¿Aparte de la información solicitada, se le brindó algún otro tipo de información de su interés? -->
              <div>
                <div>
                  <input
                    type="radio"
                    name="Hospedaje-calificacion"
                    value="si"
                    formControlName="recibioInfoExtra"
                  />
                  <label>Si</label>
                  <input
                    type="radio"
                    name="Hospedaje-calificacion"
                    value="no"
                    formControlName="recibioInfoExtra"
                  />
                  <label>No</label>
                </div>
                <div>
                  <p>¿Qué información se le brindo?</p>
                  <div>
                    <input
                      type="radio"
                      name="informacionBrindada"
                      value="expectaculosMinaClavero"
                      formControlName="tipoInfoExtra"
                    />
                    <label>Espectáculos en Mina Clavero</label>
                    <input
                      type="radio"
                      name="informacionBrindada"
                      value="expectaculoLocalidadesCercanas"
                      formControlName="tipoInfoExtra"
                    />
                    <label>Espectáculos en localidades cercanas</label>
                    <input
                      type="radio"
                      name="informacionBrindada"
                      value="recreacion"
                      formControlName="tipoInfoExtra"
                    />
                    <label>Recreación</label>
                    <input
                      type="radio"
                      name="informacionBrindada"
                      value="actividadesDeportivas"
                      formControlName="tipoInfoExtra"
                    />
                    <label>Actividades deportivas</label>
                    <input
                      type="radio"
                      name="informacionBrindada"
                      value="turismoAventura"
                      formControlName="tipoInfoExtra"
                    />
                    <label>Turismo Aventura</label>
                    <input
                      type="radio"
                      name="informacionBrindada"
                      value="paseos"
                      formControlName="tipoInfoExtra"
                    />
                    <label>Paseos</label>
                    <label>Otros ¿Cuales?</label>
                    <input type="text" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Considera a Mina Clavero como un destino completo en cuanto a su oferta y servicios?  -->
        <div class="destino-completo">
          <h3>
            Considera a Mina Clavero como un destino completo en cuanto a su
            oferta y servicios?
          </h3>
          <div>
            <input
              type="radio"
              name="destinoCompleto"
              value="si"
              formControlName="destinoCompleto"
            />
            <label>Si</label>
            <input
              type="radio"
              name="destinoCompleto"
              value="no"
              formControlName="destinoCompleto"
            />
            <label>No</label>
            <label>¿Por que?</label>
            <input type="text" formControlName="destinoCompleto" />
          </div>
        </div>
        <!-- ¿Recomendaría Mina Clavero como destino turístico? -->
        <div class="recomendaria">
          <h3>¿Recomendaría Mina Clavero como destino turístico?</h3>
          <div>
            <input
              type="radio"
              name="recomendaria"
              value="si"
              formControlName="recomendaria"
            />
            <label>Si</label>
            <input
              type="radio"
              name="recomendaria"
              value="no"
              formControlName="recomendaria"
            />
            <label>No</label>
            <label>¿Por que?</label>
            <input type="text" formControlName="recomendaria" />
          </div>
        </div>
        <div>
          <button type="submit" class="btnSubmit">Enviar</button>
        </div>
        <!-- Form -->
      </div>
    </form>
  </div>
</div>
