mat-slider {
  width: 300px;
}

.container {
  background-color: #4c5c68;
  height: 100vh;
}

.navbar-container {
  margin-bottom: 100px;
}

.form-container {
  border: 2px solid #bebebe;
  height: 700px;
  width: 90vw;
  margin: auto;
  overflow-y: scroll;
  background-color: #e6e6e6;
  padding: 20px;
}

.form-container > p {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #bebebe;
}

.form-components > div {
  padding: 10px 0;
}

.components {
  margin: auto;
}

h3 {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

.inputMore {
  width: 150px;
  border-bottom: 1px solid #4c5c68;
}

/* .labels {
  border: 2px solid red;
  width: 100vw;
  margin-top: 20px;
} */

/* EDAD */

.edad {
  display: flex;
  gap: 10px;
  align-items: center;
}

.edad h3 {
  width: 10%;
}

.edad-input {
  height: 25px;
  width: 50px;
  margin-bottom: 15px;
}

/* SEXO */

.sexo {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.sexo-components {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* PROCEDENCIA */

.procedencia {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* ACOMPAÑAMIENTO */

.acompañamiento {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* MEDIO CONOCIMIENTO */

.medio-conocimiento {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* PORQUE ELIGIO MINA CLAVERO */

.porque-eligio {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* TIENE RESERVA */

.tiene-reserva {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}
/* TIPO HOSPEDAJE */

.tipo-hospedaje {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}
/* CALIFICAION HOSPEDAJE */

.calificacion-hospedaje {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* MATERIAL INFORMATIVO */

.material-informativo {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* SOLICITO INFORMACION SECRETARIA DE TURISMO */

.solicito-informacion-secretariaTurismo {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* DESTINO COMPLETO */

.destino-completo {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}

/* RECOMENDARIA */

.recomendaria {
  display: flex;
  gap: 5px;
  align-items: center;

  flex-wrap: wrap;
}
/* ---------------------------------------------------------- */

.btnSubmit {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #1985a1;
  color: #cfcfcf;
  border-radius: 5px;
  font-size: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnSubmit:hover {
  transform: rotate(360deg);
}
