<div class="container">
  <nav class="navbar-container">
    <app-navbar></app-navbar>
  </nav>
  <div class="form-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-components">
        <!-- Edad -->
        <div class="components">
          <mat-form-field>
            <mat-label>Ingrese su edad</mat-label>
            <input matInput formControlName="edad" />
          </mat-form-field>
          <mat-divider></mat-divider>
        </div>

        <!-- Sexo -->
        <div class="components">
          <mat-radio-group aria-label="Select an option" formControlName="sexo">
            <mat-label class="labels">Ingrese su sexo</mat-label>
            <mat-radio-button value="Femenino">Femenino</mat-radio-button>
            <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- Procedencia -->
        <div class="components">
          <mat-form-field>
            <mat-label>Procedencia</mat-label>
            <input matInput formControlName="procedencia" />
          </mat-form-field>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Ud. vino a Mina Clavero? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="acompañamiento"
          >
            <mat-label class="labels">¿Ud. vino a Mina Clavero?</mat-label>
            <mat-radio-button value="solo">Solo</mat-radio-button>
            <mat-radio-button value="pareja">Con su pareja</mat-radio-button>
            <mat-radio-button value="familia">Con su familia</mat-radio-button>
            <mat-radio-button value="amigos">Con amigos</mat-radio-button>
            <mat-radio-button value="excursion"
              >En una excursion</mat-radio-button
            >
            <mat-radio-button>Otro</mat-radio-button>
            <input
              matInput
              formControlName="acompañamiento"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿A traves de que medio conocio el destino Mina Clavero? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="medioConocimiento"
          >
            <mat-label class="labels"
              >¿A traves de que medio conocio el destino Mina
              Clavero?</mat-label
            >
            <mat-radio-button value="television">Television</mat-radio-button>
            <mat-radio-button value="web">Pagina web</mat-radio-button>
            <mat-radio-button value="radio">Radio</mat-radio-button>
            <mat-radio-button value="mediosGraficos"
              >Medios graficos</mat-radio-button
            >
            <mat-radio-button value="facebook">Facebook</mat-radio-button>
            <mat-radio-button value="recomendacion"
              >Recomendacion</mat-radio-button
            >
            <mat-radio-button>Otro</mat-radio-button>
            <input
              matInput
              formControlName="medioConocimiento"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Por qué eligió Mina Clavero para pasar sus vacaciones? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="motivoEleccion"
          >
            <mat-label class="labels"
              >¿Por qué eligió Mina Clavero para pasar sus
              vacaciones?</mat-label
            >
            <mat-radio-button value="conocia"
              >Porque ya conocía y le gustó el lugar</mat-radio-button
            >
            <mat-radio-button value="recomendaron"
              >Porque se lo recomendaron</mat-radio-button
            >
            <mat-radio-button value="promocion"
              >Porque vio alguna promoción en los medios</mat-radio-button
            >
            <mat-radio-button value="lugarTranquilo"
              >Porque es un lugar tranquilo para la familia</mat-radio-button
            >
            <mat-radio-button value="paisajes"
              >Por sus paisajes</mat-radio-button
            >
            <mat-radio-button value="eventos">Por sus eventos</mat-radio-button>
            <mat-radio-button value="amabilidad"
              >Por la amabilidad de los vecinos</mat-radio-button
            >
            <mat-radio-button>Otro</mat-radio-button>
            <input
              matInput
              formControlName="motivoEleccion"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- reserva -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tieneReserva"
          >
            <mat-label class="labels"
              >En cuanto a Hospedaje: ¿Ud. llegó a Mina Clavero?</mat-label
            >
            <mat-radio-button value="sinReserva">Sin reserva</mat-radio-button>
            <mat-radio-button value="conReserva">Con reserva</mat-radio-button>
            <mat-radio-button
              >¿A través de que medio hizo la reserva?</mat-radio-button
            >
            <input matInput formControlName="tieneReserva" class="inputMore" />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Qué tipo de Hospedaje ha tomado? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tipoHospedaje"
          >
            <mat-label class="labels"
              >¿Qué tipo de Hospedaje ha tomado?</mat-label
            >
            <mat-radio-button value="hotel">Hotel</mat-radio-button>
            <mat-radio-button value="cabaña">Cabaña</mat-radio-button>
            <mat-radio-button value="hosteria">Hosteria</mat-radio-button>
            <mat-radio-button value="camping">Camping</mat-radio-button>
            <mat-radio-button value="casaAlquiler"
              >Casa de alquiler</mat-radio-button
            >
            <mat-radio-button>Otro</mat-radio-button>
            <input matInput formControlName="tipoHospedaje" class="inputMore" />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Cómo es el servicio en el hospedaje que ha contratado? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="calificacionHospedaje"
          >
            <mat-label class="labels"
              >¿Cómo es el servicio en el hospedaje que ha
              contratado?</mat-label
            >
            <mat-radio-button value="excelente">Excelente</mat-radio-button>
            <mat-radio-button value="muyBuena">Muy buena</mat-radio-button>
            <mat-radio-button value="buena">Buena</mat-radio-button>
            <mat-radio-button value="regular">Regular</mat-radio-button>
            <mat-radio-button value="mala">Mala</mat-radio-button>
            <mat-radio-button value="muyMala">Muy mala</mat-radio-button>
            <mat-radio-button value="pesima">Pesima</mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Recibió material informativo de la Secretaría de Turismo en el hospedaje donde se alojó? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="materialInformativo"
          >
            <mat-label class="labels"
              >¿Recibió material informativo de la Secretaría de Turismo en el
              hospedaje donde se alojó?</mat-label
            >
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
            <mat-label>¿Cual?</mat-label>
            <input
              matInput
              formControlName="materialInformativo"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Ud. pidió información en las Oficinas de Turismo de Mina Clavero?  -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="informacionSecretariaTurismo"
          >
            <mat-label class="labels"
              >¿Ud. pidió información en las Oficinas de Turismo de Mina
              Clavero?</mat-label
            >
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿En qué Oficina lo hizo?  -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="oficinaInformacion"
          >
            <mat-label class="labels">¿En qué Oficina lo hizo?</mat-label>
            <mat-radio-button value="rotondaIngeso"
              >Oficina de la Rotonda de Ingreso</mat-radio-button
            >
            <mat-radio-button value="plazoletaMerlo"
              >Oficina de Plazoleta Merlo</mat-radio-button
            >
            <mat-radio-button value="terminal"
              >Oficina de la Terminal</mat-radio-button
            >
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Qué tipo de Información solicitó en las Oficinas de Turismo de Mina Clavero? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tipoInformacion"
          >
            <mat-label class="labels"
              >¿Qué tipo de Información solicitó en las Oficinas de Turismo de
              Mina Clavero?</mat-label
            >
            <mat-radio-button value="hospedaje">Hospedaje</mat-radio-button>
            <mat-radio-button value="paseos">Paseos</mat-radio-button>
            <mat-radio-button value="eventos">Eventos</mat-radio-button>
            <mat-radio-button value="gastronomia">Gastronomía</mat-radio-button>
            <mat-radio-button value="turismo"
              >Turismo Aventura</mat-radio-button
            >
            <mat-radio-button value="servicios">Servicios</mat-radio-button>
            <mat-radio-button value="rutas">Rutas</mat-radio-button>
            <mat-radio-button>Otros ¿Cuales?</mat-radio-button>
            <input
              matInput
              formControlName="tipoInformacion"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿A través de que medio solicitó información en las Oficina de
                    Turismo de Mina Clavero? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="medioInformacionSolicitada"
          >
            <mat-label class="labels"
              >¿A través de que medio solicitó información en las Oficina de
              Turismo de Mina Clavero?</mat-label
            >
            <mat-radio-button value="pesonalmente"
              >Personalmente</mat-radio-button
            >
            <mat-radio-button value="mail">Vía mail</mat-radio-button>
            <mat-radio-button value="eventos">Vía Facebook</mat-radio-button>
            <mat-radio-button value="telefono">Vía Telefónica</mat-radio-button>
            <mat-radio-button>Otros ¿Cuales?</mat-radio-button>
            <input
              matInput
              formControlName="medioInformacionSolicitada"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- Qué tipo de material se le entregó en la Oficina de Turismo? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="materialEntregado"
          >
            <mat-label class="labels"
              >Qué tipo de material se le entregó en la Oficina de
              Turismo?</mat-label
            >
            <mat-radio-button value="folleto">Folleto</mat-radio-button>
            <mat-radio-button value="revista">Revista</mat-radio-button>
            <mat-radio-button value="planos">Planos</mat-radio-button>
            <mat-radio-button value="calcomanias">Calcomanías</mat-radio-button>
            <mat-radio-button value="guiaServicios"
              >Guía de Servicios</mat-radio-button
            >
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- Cómo evalúa el tipo de información brindada por las Oficinas de Turismo de Mina Clavero? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="calificacionInformacion"
          >
            <mat-label class="labels"
              >Cómo evalúa el tipo de información brindada por las Oficinas de
              Turismo de Mina Clavero?</mat-label
            >
            <mat-radio-button value="excelente">Excelente</mat-radio-button>
            <mat-radio-button value="muyBuena">Muy buena</mat-radio-button>
            <mat-radio-button value="buena">Buena</mat-radio-button>
            <mat-radio-button value="regular">Regular</mat-radio-button>
            <mat-radio-button value="mala">Mala</mat-radio-button>
            <mat-radio-button value="muyMala">Muy mala</mat-radio-button>
            <mat-radio-button value="pesima">Pesima</mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Aparte de la información solicitada, se le brindó algún otro tipo de información de su interés? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="recibioInfoExtra"
          >
            <mat-label class="labels"
              >¿Aparte de la información solicitada, se le brindó algún otro
              tipo de información de su interés?</mat-label
            >
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Que informacion se le brindo? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="tipoInfoExtra"
          >
            <mat-label>¿Qué información se le brindo?</mat-label>
            <mat-radio-button value="espectaculosMinaClavero"
              >Espectáculos en Mina Clavero</mat-radio-button
            >
            <mat-radio-button value="expectaculoLocalidadesCercanas"
              >Espectáculos en localidades cercanas</mat-radio-button
            >
            <mat-radio-button value="recreacion">Recreación</mat-radio-button>
            <mat-radio-button value="actividadesDeportivas"
              >Actividades deportivas</mat-radio-button
            >
            <mat-radio-button value="turismoAventura"
              >Turismo Aventura</mat-radio-button
            >
            <mat-radio-button value="paseos">Paseos</mat-radio-button>
            <mat-radio-button>Otros ¿Cuales?</mat-radio-button>
            <input matInput formControlName="tipoInfoExtra" class="inputMore" />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Considera a Mina Clavero como un destino completo en cuanto a su oferta y servicios?  -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="destinoCompleto"
          >
            <mat-label class="labels"
              >¿Considera a Mina Clavero como un destino completo en cuanto a su
              oferta y servicios?</mat-label
            >
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
            <mat-label>¿Por que?</mat-label>
            <input
              matInput
              formControlName="destinoCompleto"
              class="inputMore"
            />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>

        <!-- ¿Recomendaría Mina Clavero como destino turístico? -->
        <div class="components">
          <mat-radio-group
            aria-label="Select an option"
            formControlName="recomendaria"
          >
            <mat-label class="labels"
              >¿Recomendaría Mina Clavero como destino turístico?</mat-label
            >
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
            <mat-label>¿Por que?</mat-label>
            <input matInput formControlName="recomendaria" class="inputMore" />
          </mat-radio-group>
          <mat-divider></mat-divider>
        </div>
      </div>

      <!-- Submit -->
      <div>
        <button type="submit" class="btnSubmit">Enviar</button>
      </div>
    </form>
  </div>
</div>
