<div class="container">
  <app-navbar></app-navbar>
  <div class="contact-container">
    <div class="forStyle">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Escriba su duda o recomandacion...</mat-label>
          <textarea matInput class="comments"></textarea>
        </mat-form-field>
        <button class="btn">Enviar</button>
      </form>
    </div>
  </div>
</div>
